<td class="sonata-ba-list-field sonata-ba-list-field-{{ field_description.type }} {% if field_description.type == 'batch' %}row-selector{% endif %}" objectId="{{ admin.id(object) }}">
    {% if
    field_description.options.identifier is defined
    and field_description.options.route is defined
    and admin.isGranted(field_description.options.route.name == 'show' ? 'VIEW' : field_description.options.route.name|upper, object)
    and admin.hasRoute(field_description.options.route.name)
    %}
        <a href="{{ admin.generateObjectUrl(field_description.options.route.name, object, field_description.options.route.parameters) }}">
            <i class="picon-blinklist icon-large icon-border"></i>&nbsp;
            {%- block field %}{{ value }}{% endblock -%}
        </a>
        {% if field_description.options.footable is defined and
        field_description.options.footable.attr.data_toggle is defined %}
            <button class="btn btn-primary btn-mini hidden-desktop visible-tablet visible-phone pull-right footable-toggle-selector"><i class="icon-eye-open footable-toggle-selector"></i> SHOW</button>
        {% endif %}
    {% else %}
        {{ block('field') }}
    {% endif %}
</td>
