{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="hero-unit hero-tutorial">
    {% if settings.title is defined %}
    <h3 class="sonata-feed-title">{{ settings.title }}</h3>
    {% endif %}

    {% if settings.categories is defined %}
    <ul class="tutorial-category-list">
        {% for categories in settings.categories %}
            {{ _self.list(categories, settings.tutorials) }}
        {% endfor %}
    </ul>
    {% endif %}
    </div>

    {% macro list(node, tutorials) %}
        {% spaceless %}
            {% if node.enabled %}
            <li class="tutorial-category">
                {{ node.name }}
                {% if tutorials[node.id] is defined %}
                    <ul class="tutorial-list">
                        {% for tutorial in tutorials[node.id] %}
                            {% if tutorial.enabled %}
                            <li class="tutorial">
                                <a href="{{ path('rz_tutorial_view_tutorial', {'slug':tutorial.slug}) }}">{{ tutorial.title }}</a>
                                <div class="row">
                                    <div class="span12">
                                        <blockquote>
                                        <small>{{ tutorial.description | raw}}</small>
                                        </blockquote>
                                    </div>
                                </div>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if node.__children %}
                    <ul>
                        {% for child in node.__children %}
                            {{ _self.list(child, tutorials) }}
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
            {% endif %}
        {% endspaceless %}
    {% endmacro %}
{% endblock %}
