{% if not sonata_admin.field_description.hasassociationadmin %}
    {% for element in value %}
        {{ element|render_relation_element(sonata_admin.field_description) }}
    {% endfor %}
{% else %}
    {%   set container_span = attr|rz_get_span_class %}
    <div id="field_container_{{ id }}" class="field-container">
        <div id="field_widget_{{ id }}" class="row-fluid rz-widget-container-one-to-many">
            <div {% if container_span is not null %} class="{{ container_span }}"{% endif %}>
            {% if sonata_admin.edit == 'inline' %}
                {% if sonata_admin.inline == 'table' %}
                    {% if form.children|length > 0 %}
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    {% for field_name, nested_field in form.children[0].children %}
                                        {% if field_name == '_delete' %}
                                            <th class="sonata-one-to-many-delete-header">{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}</th>
                                        {% else %}
                                            <th>{{ nested_field.vars['sonata_admin'].admin.trans(nested_field.vars.label) }}</th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody class="sonata-ba-tbody">
                                {% for nested_group_field_name, nested_group_field in form.children %}
                                    <tr>
                                        {% for field_name, nested_field in nested_group_field.children %}
                                            <td class="sonata-ba-td-{{ id }}-{{ field_name  }}{% if nested_field.vars.errors|length > 0 %} error{% endif %}{% if sonata_admin.field_description.associationadmin.formfielddescriptions[field_name] is not defined or sonata_admin.field_description.associationadmin.formfielddescriptions[field_name].type == 'boolean' %} sonata-one-to-many-table-boolean{% endif %}">
                                                {% if sonata_admin.field_description.associationadmin.formfielddescriptions[field_name] is defined %}
                                                    {{ form_widget(nested_field) }}
                                                    {% set dummy = nested_group_field.setrendered %}
                                                {% else %}
                                                    {{ form_widget(nested_field) }}
                                                {% endif %}
                                                {% if nested_field.vars.errors|length > 0 %}
                                                    <div class="sonata-ba-field-error-messages">
                                                        {{ form_errors(nested_field) }}
                                                    </div>
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% elseif form.children|length > 0 %}
                    {% for nested_group_field_name, nested_group_field in form.children %}
                        <div class="widget-box">
                            <div class="widget-title">
								<span class="icon">
									<i class="icon-file"></i>
								</span>
                                <h5> {{ sonata_admin.admin.trans(label) }}</h5>
                                <span class="label label-info">{{ nested_group_field_name + 1 }}</span>
                            </div>
                            <div class="widget-content nopadding sonata-one-to-many-standard-container">
                                {% for field_name, nested_field in nested_group_field.children %}
                                    {% if sonata_admin.field_description.associationadmin.formfielddescriptions[field_name] is defined %}
                                        <div class="control-group">
                                            {{ form_label(nested_field) }}
                                            <div class="controls">
                                                {{ form_widget(nested_field, {
                                                'inline': 'natural',
                                                'edit'  : 'inline'
                                                }) }}
                                                {% set dummy = nested_group_field.setrendered %}
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="control-group">
                                            {{ form_label(nested_field) }}
                                            <div class="controls">
                                                {{ form_widget(nested_field) }}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% else %}
                {{ form_widget(form) }}
            {% endif %}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
            {% if sonata_admin.edit == 'inline' %}
                {% if sonata_admin.field_description.associationadmin.hasroute('create') and sonata_admin.field_description.associationadmin.isGranted('CREATE') %}
                    <span id="field_actions_{{ id }}" >
                        <a
                            href="{{ sonata_admin.field_description.associationadmin.generateUrl('create') }}"
                            onclick="return start_field_retrieve_{{ id }}(this);"
                            class="btn sonata-ba-action btn-primary"
                            title="{{ 'link_add'|trans({}, 'SonataAdminBundle') }}"
                            >
                            <i class="icon-plus"></i>
                            {{ 'link_add'|trans({}, 'SonataAdminBundle') }}
                        </a>
                    </span>
                {% endif %}

                {# add code for the sortable options #}
                {% if sonata_admin.field_description.options.sortable is defined %}
                    <script type="text/javascript">
                        jQuery('div#field_container_{{ id }} tbody.sonata-ba-tbody').sortable({
                            axis: 'y',
                            opacity: 0.6,
                            items: 'tr',
                            stop: apply_position_value_{{ id }}
                        });

                        function apply_position_value_{{ id }}() {
                            // update the input value position
                            jQuery('div#field_container_{{ id }} tbody.sonata-ba-tbody td.sonata-ba-td-{{ id }}-{{ sonata_admin.field_description.options.sortable }}').each(function(index, element) {
                                // remove the sortable handler and put it back
                                jQuery('span.sonata-ba-sortable-handler', element).remove();
                                jQuery(element).append('<span class="sonata-ba-sortable-handler ui-icon ui-icon-grip-solid-horizontal"></span>');
                                jQuery('input', element).hide();
                            });

                            jQuery('div#field_container_{{ id }} tbody.sonata-ba-tbody td.sonata-ba-td-{{ id }}-{{ sonata_admin.field_description.options.sortable }} input').each(function(index, value) {
                                jQuery(value).val(index + 1);
                            });
                        }

                        // refresh the sortable option when a new element is added
                        jQuery('#sonata-ba-field-container-{{ id }}').on('sonata.add_element', function() {
                            apply_position_value_{{ id }}();
                            jQuery('div#field_container_{{ id }} tbody.sonata-ba-tbody').sortable('refresh');
                            Admin.initElements(jQuery(field_container_{{ id }}));
                        });

                        apply_position_value_{{ id }}();

                    </script>
                {% endif %}

                {# include association code #}
                {% include 'RzTutorialBundle:CRUD:edit_orm_one_association_script.html.twig' %}

            {% else %}
                <span id="field_actions_{{ id }}" >
                    {% if sonata_admin.field_description.associationadmin.hasroute('create') and sonata_admin.field_description.associationadmin.isGranted('CREATE') %}
                        <a
                            href="{{ sonata_admin.field_description.associationadmin.generateUrl('create') }}"
                            onclick="return start_field_dialog_form_add_{{ id }}(this);"
                            class="btn sonata-ba-action btn-primary"
                            title="{{ 'link_add'|trans({}, 'SonataAdminBundle') }}"
                            >
                            <i class="icon-plus"></i>
                            {{ 'link_add'|trans({}, 'SonataAdminBundle') }}
                        </a>
                    {% endif %}
                </span>
                {% include 'RzTutorialBundle:CRUD:edit_orm_many_association_script.html.twig' %}
            {% endif %}
            </div>
        </div>
    </div>
{% endif %}
